<p>fourth works!</p>


<h1  [ngStyle] = "{'color':'green',
'font-size':'small'}">  Heading 1 </h1>

<h1  [ngStyle] = "myStyle">  Heading 1 </h1>

<div class="box1">  DIV 100 </div>

<div [class.box1]= true>  DIV 100 </div>

<div [class.box1]= flag>  DIV 100 </div>

<h1 [style.margin]="style1"> H1 </h1>

<h1 [style.margin]="flag?style1:'10px'"> H1 </h1>

<h1 [ngClass]="'box1 box2 box3'"> 200 </h1>
<h1 [ngClass]="multiClasses"> 200 </h1>










