<p>second works!</p>

<div *ngIf="courses.length>0"> List of courses </div>
<div> There are no courses </div>
<div> 
  
    <!-- <div *ngIf="courses.length>0">
        <h1> List of courses </h1>
    <ul *ngFor="let course of courses">
        <li>  {{course.name}}  --  {{course.duration}}</li>
    
    </ul>
</div> -->

<!-- <div *ngIf="courses.length>0">
    <h1> List of courses </h1>
    <table>
        <tr>
        <th> Course Name </th>
        <th> Duration </th>
    </tr> 
<tr *ngFor="let course of courses">
    <td>  {{course.name}}  </td>
    <td> {{course.duration}}</td>

</table>
</div>
<div *ngIf="courses.length==0">
    <h1> There are no courses </h1>
</div>

</div> -->

<div *ngIf="courses.length>0;then listCourses 
    else noCourses"> </div>

<ng-template #listCourses>
    <h1> List of courses </h1>
    <table>
        <tr>
            <td> </td>
        <th> Course Name </th>
        <th> Duration </th>
    </tr> 
<tr *ngFor="let course of courses ; odd as i">
   <td> {{i}} </td>
    <td>  {{course.name}}  </td>
    <td> {{course.duration}}</td>

</table>
</ng-template>

<ng-template #noCourses>
    <h1> There are no courses </h1>
</ng-template>

<button (click)="AddCourse()" > Add New Course </button>








