<p>first works!</p>

<!-- {{  }} > Interpolation -->
Hello {{name}}, your marks are {{marks}}

<b> Sum is {{ n1 + n2}} </b>

<input type="text" name="name" value="{{name}}">

 <!-- []  > Property Binding -->
<input type="text" name="name" [value]="name">

<input type="text" name="name" bind-value="name">

<!-- String interplotaion works with string only
property binding works with boolean also -->

Enter Name
<input type="text" disabled="{{flag}}"/>

<input type="text" [disabled]="flag"/>


<input type="text" [disabled]="flag" [value]="flag?value1:value2"/>

<button (click)="Hello()"> Call Hello function </button>


<input type="text" [value]="msg">


<!-- <input type="text" [(ngModel)]="msg"> -->
<input type="text" [value]="msg">
<button  class="btn btn-primary" (click) = "Change()"> Change </button>

{{msg}}




