<p>third works!</p>


<h2> Hello {{name | titlecase}} </h2>

<h2> {{'Hello' | lowercase}} </h2>

<h2> {{'Hello' | titlecase}} </h2>

<h2> {{90 | currency}}</h2>
<h2> {{90 | currency:'INR'}}</h2>
<h2> {{todayDate}}</h2>

<h2> {{todayDate | date : 'shortDate'}} </h2>