<p>pipedemo works!</p>

<div *ngIf="employees.length>0;then display else nodisplay"></div>

<ng-template #display>
<table class="table table-striped">
    <tr>
        <th>Employee Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Annual Salary</th>
        <th>DateOfBirth:</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.code | uppercase}}</td>
        <td>{{employee.name | titlecase | gender: employee.gender}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.annualSalary | currency:'INR'}}</td>
        <td>{{employee.dateOfBirth | date }}</td>
    </tr>
</table>
</ng-template>

<ng-template #nodisplay>
    <h1> There are no employees </h1>
</ng-template>
